<div>
  <label>
   Nom :
    <input type="text" [formControl]="username">
  </label>
  <label>
    Adresse email :
    <input type="text" [formControl]="mail">
  </label>
  <label>
    Mot de passe :
    <input type="text" [formControl]="password">
  </label>
  <label>
    Adresse :
    <input type="text" [formControl]="address">
  </label>
  <button (click)="submit()">inscription</button></div>

<h4>{{user.username}}</h4>
<h4>{{user.mail}}</h4>
<h4>{{user.password}}</h4>
<h4>{{user.address}}</h4>
